<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- account
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<div class="container">
  <div class="row mx-auto">
    <div class="col-12 bg-primary d-md-none">
      <h1>Heading small device</h1>
    </div>
    <div class="col-12 col-md-4 col-xxl-3 bg-secondary order-md-3">Image</div>
    <section class="col-12 col-md-8 col-xxl-5 offset-xxl-2">
      <h1 class="d-none d-md-block bg-primary mb-3">Heading tablet</h1>
      <div class="row">
        <div class="col-12 col-md-6 bg-danger">info</div>
        <div class="col-12 col-md-6 bg-success">info</div>
      </div>
      <div class="d-flex flex-wrap justify-content-end gap-2 my-3">
        <!-- prettier-ignore -->
        {% if user.customer.has_clicked %}
        <i class="fa-solid fa-star fa-2xl mt-4 me-auto ps-2"></i>
        {% elif user.customer.has_discount and not user.customer.has_clicked %}
        <i class="fa-solid fa-ranking-star fa-shake fa-2xl mt-4 me-auto ps-2">
        </i>
        {% endif %}

        <button class="btn-iconic">Edit</button>
        <button class="btn-warning">Delete</button>
        <a href="{% url 'account_logout' %}">
          <button class="btn-warning">Logout</button>
        </a>
      </div>
      <div class="row mx-auto bg-primary-subtle">
        {% if user.customer.has_clicked %}
        <p class="small">
          Your reservations qualify for our friends and family discount!
        </p>
        {% endif %}
        <h2 class="mt-2">Reservations</h2>
        <p>Upcoming reservations:</p>

        <!-- if no reservations -->
        <p class="small">
          You currently do not have any upcoming reservations.
        </p>
      </div>
    </section>
  </div>
</div>

<p>{{ user.username }}</p>

<p>{{ user.customer.phone }}</p>
<p>Has discount? {{ user.customer.has_discount }}</p>
<p>Has clicked? {{ user.customer.has_clicked }}</p>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/' %}/"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
