<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- account
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<section class="container bg-info">
  <div class="row bg-danger">
    <div class="col-12 bg-primary d-md-none">
      <h1>Heading small device</h1>
    </div>
    <div class="col-12 bg-secondary order-md-3">Image</div>
    <div class="col-12 bg-warning">
      <h1 class="d-none d-md-block bg-primary mb-4">Heading tablet</h1>
      <div class="row">
        <div class="col-6 bg-danger">info</div>
        <div class="col-6 bg-success">info</div>
      </div>
      <button class="btn-iconic">Edit</button>
      <button class="btn-delete">Delete</button>
    </div>
  </div>
</section>

<p>{{ user.username }}</p>

<p>{{ user.customer.phone }}</p>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/' %}/"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
