<!-- prettier-ignore -->
{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Sign In" %}
{% endblock title %}
{% block page-content %}
<div class="row justify-content-center m-0 mb-4">
  <div class="account-management">
    <h2 class="mt-2 mt-lg-5 headings">{% trans "Sign In" %}</h2>
    <p class="mt-3">
      {% blocktrans %}If you do not have an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    <!-- prettier-ignore -->
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
    <input
      type="hidden"
      name="{{ redirect_field_name }}"
      value="{{ redirect_field_value }}" />
    <!-- prettier-ignore -->
    {% endif %}
  {% endslot %}
  {% slot actions %}
    <button type="submit" class="btn-booking">{% trans "Sign In" %}</button>
    <!-- prettier-ignore -->
    {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
  </div>
</div>
{% endblock page-content %}
