<!-- prettier-ignore -->
{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="row justify-content-center m-0 mb-4">
  <div class="account-management reset-pw">
    <h2 class="mt-2 mt-lg-5 headings text-nowrap">{% trans "Password Reset" %}</h2>
    <!-- prettier-ignore -->
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
      <!-- prettier-ignore -->
      {% trans "Forgotten your password? <br>Enter your email address <br>below, and we'll send you an email allowing you to reset it." %}
    </p>
    <!-- prettier-ignore -->
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
    <button type="submit" class="btn-booking mb-4">
      {% trans "Reset" %}
    </button>
    {% endslot %} {% endelement %}
    <p>
      {% blocktrans %}Please contact us if you have any trouble resetting your
      password.{% endblocktrans %}
    </p>
  </div>
</div>
{% endblock content %}
