<div class="container-fluid justify-content-center text-center d-none d-lg-block">

    <div class="row">

        <div class="col-1">
            Table:
        </div>
        <div class="col-1">
            Party size:
        </div>
        <div class="col-1">
            Time:
        </div>
        <div class="col-2 text-start">
            Last name:
        </div>
        <div class="col text-start">
            Notes:
        </div>
    </div>

    {% for table in tables %}
        {% if table.reserved %}

            <div class="row">
                <div class="col-1">{{ forloop.counter }}</div>
                <div class="col-1">{{ table.reservation.party_size }}</div>
                <div class="col-1">{{ table.reservation.time }}</div>
                <div class="col-2 text-start">{{ table.reservation.user.last_name }}</div>
                <div class="col text-start">{{ table.reservation.notes }}</div>
            </div>

        {% endif %}
    {% endfor %}

</div>
