{% load static %}

<div class="container-fluid container-xxl text-center my-3">
  <div class="row mx-auto my-auto justify-content-center">
    <div id="carouselMenuItem" class="carousel slide px-md-4 px-lg-5">
      <div class="carousel-inner" role="listbox" aria-label="Menu item images">
        <div class="carousel-item active">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/1.png' %}"
                  role="option"
                  alt="img"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/2.png' %}"
                  role="option"
                  alt="img"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/3.png' %}"
                  role="option"
                  alt="img"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/4.png' %}"
                  role="option"
                  alt="img"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/5.png' %}"
                  role="option"
                  alt="img"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">text</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/6.png' %}"
                  role="option"
                  alt="img"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev justify-content-start ms-lg-2"
        type="button"
        data-bs-target="#carouselMenuItem"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next justify-content-end me-lg-2"
        type="button"
        data-bs-target="#carouselMenuItem"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

{% block page-specific-js %}
<script src="{% static './js/carousel.js' %}/" type="text/javascript"></script>
{% endblock %}
