{% load static %}

<div class="container-fluid container-xxl text-center my-3">
  <div class="row mx-auto my-auto justify-content-center">
    <div id="carouselMenuItem" class="carousel slide px-md-4 px-lg-5">
      <div class="carousel-inner" role="listbox" aria-label="Menu item images">

        <div class="carousel-item active">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/tropical-pork-kabobs.webp' %}"
                  role="option"
                  alt="Tropical Pork Kabobs"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Tropical Pork Kabobs
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/stir-fried-tofu-with-vegetables.webp' %}"
                  role="option"
                  alt="Tropical Pork Kabobs"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Tropical Pork Kabobs
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/grilled-banana.webp' %}"
                  role="option"
                  alt="Grilled banana"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Grilled banana
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/banana-apricot-dessert-crepes.webp' %}"
                  role="option"
                  alt="Banana-Apricot Dessert Crepes"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Banana-Apricot Dessert Crepes
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/chicken-pochero.webp' %}"
                  role="option"
                  alt="Chicken Pochero"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Chicken Pochero
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/jamaican-pork.webp' %}"
                  role="option"
                  alt="Jamaican pork"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Jamaican pork
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/banana-cream-delight.webp' %}"
                  role="option"
                  alt="Banana Cream Delight"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Banana Cream Delight
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-10 col-md-3 mx-auto">
            <div class="card">
              <div class="card-img">
                <img
                  src="{% static './images/seafood-stew-with-spicy-sausage.webp' %}"
                  role="option"
                  alt="Seafood Stew With Spicy Sausage"
                  class="img-fluid px-md-3" />
              </div>
              <div class="card-body">
                <p class="card-text special-font">
                  Seafood Stew With Spicy Sausage
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button
        class="carousel-control-prev justify-content-start ms-lg-2"
        type="button"
        data-bs-target="#carouselMenuItem"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next justify-content-end me-lg-2"
        type="button"
        data-bs-target="#carouselMenuItem"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
