<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
restaurant
{% endblock %}

{% block page-specific-css %}
<link rel="stylesheet" href="{% static './css/multi-slider-carousel.css' %}" />
{% endblock %}

<!-- prettier-ignore -->
{% block page-content %}
<div class="soft-cushion"></div>
{% include './carousel.html' %}

<div class="soft-cushion"></div>

<div class="container-fluid container-xxl my-5">
  <section class="row">
    <div
      id="welcome-img"
      class="col-12 col-md-7"
      role="img"
      aria-label="View from outside the restaurant of the terrace over the canal"></div>
    <div class="col-12 col-md-5 text-center mt-5 px-4 px-lg-5">
      <h1>Welcome</h1>
      <p class="px-3 px-xxl-4">
        Banana Palace restaurant – where culinary passion meets heartfelt
        hospitality. Our menu is a celebration of local flavors and global
        inspiration, crafted with care and creativity. Join us for an
        unforgettable dining experience, where every dish tells a story and
        every moment is cherished. Welcome to the heart and soul of the Banana
        Palace restaurant.
      </p>
      <a href="{% url 'reservation_page' %}"
        class="mt-2 mt-lg-3 btn-iconic text-decoration-none">
        Book a table
      </a>
    </div>
  </section>
</div>
<!-- prettier-ignore -->
{% endblock %}
