/* --------------------------
----------- Colors ----------
-------------------------- */

:root {
  --color-primary-bg: #f8f6d1;
  --color-secondary-bg: #efc600;
  --color-tertiary-bg: #e1c10c27;
  --color-primary: #073503;
  --color-secondary: #1f7405;
  --color-tertiary: #270b03;
}

/* base.html styles */

header,
body {
  background-color: var(--color-primary-bg);
  color: var(--color-primary);
}

footer {
  background-color: var(--color-tertiary);
  color: var(--color-primary-bg);
}

.nav-link {
  color: var(--color-primary);
  text-shadow: 0 0 1rem var(--color-primary-bg);
}

#override-bootstrap .nav-link.active,
#override-bootstrap .nav-link.show {
  color: var(--color-secondary);
}

#override-bootstrap footer a {
  color: var(--color-primary-bg);
}

/* index.html styles */


/* --------------------------
------- Hover effects -------
-------------------------- */

/* base.html styles */

#override-bootstrap a:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

#override-bootstrap footer a:hover {
  color: var(--color-secondary-bg);
  transition: color 0.4s ease-out;
}

/* index.html styles */



/* --------------------------
------- Layout styles -------
-------------------------- */
/* base.html styles */

body {
  min-height: 150vh;
}

main {
  margin-top: 6rem;
}

#header-container {
  height: 8rem;
  transition: all 1s ease-out;
}

#header-address-nav,
#header-phone-nav,
#header-address,
#header-phone {
  position: absolute;
}

#header-address-nav {
  top: 1rem;
  right: 6%;
}

#header-phone-nav {
  left: 6%;
}

#header-address,
#header-phone {
  left: 10%;
  display: none;
}

#header-address {
  top: 50%;
}

#header-phone {
  top: 30%;
}

footer .row {
  min-height: 10rem;
}

/* index.html styles */



/* --------------------------
--------- Typography --------
-------------------------- */

/* base.html styles */

.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
  font-weight: bold;
}

.social-media-symbols,
.social-media-symbols ~ ul {
  list-style-type: none;
}

#override-bootstrap footer a {
  text-decoration: none;
}

.social-media-symbols {
  font-size: 2.3rem;
}

/* index.html styles */

/* --------------------------
----------- Images ----------
-------------------------- */

/* base.html */

.navbar-brand {
  display: none;
}

.navbar-brand img {
  width: 8rem;
}

#main-logo {
  width: 90%;
  max-width: 30rem;
  display: block;
  margin: 0 auto;
}

#symbol-left,
#symbol-right {
  height: 100vh;
  position: fixed;
  opacity: 0.04;
  z-index: 1030;
  pointer-events: none;
}

#symbol-left {
  top: 11%;
  right: 30%;
}

#symbol-right {
  top: 35%;
  left: 40%;
}

/* index.html */


/* --------------------------
---------- Buttons ----------
-------------------------- */

/* base.html styles */

/* index.html styles */

/* --------------------------
------- Media queries -------
-------------------------- */


/* Media query for bigger than phone - Bootstrap class sm */
@media screen and (min-width: 576px) {
}

/* Media query for tablet - Bootstrap class md */
@media screen and (min-width: 768px) {
  /* Main */
  #symbol-left {
    right: 60%;
  }

  #symbol-right {
    left: 70%;
  }

  /* index.html */

}

/* Media query for big tablet - Bootstrap class lg */
@media screen and (min-width: 992px) {
  /* Header */
  #header-address-nav {
    right: 10%;
  }

  #header-phone-nav {
    left: 10%;
  }

  /* Main */
  #symbol-left {
    right: 70%;
  }

  #symbol-right {
    left: 80%;
  }
}

/* Media query for small laptop - Bootstrap class xl */
@media screen and (min-width: 1200px) {
  /* Header */
  #header-address-nav {
    right: 15%;
  }

  #header-phone-nav {
    left: 15%;
  }
}

/* Media query for laptop - Bootstrap class xxl */
@media screen and (min-width: 1400px) {
}

/* Media query for desktop */
@media screen and (min-width: 1920px) {
  /* Header */
  #header-address-nav {
    right: 20%;
  }

  #header-phone-nav {
    left: 20%;
  }
}

/* --------------------------
-------- TESTING ONLY -------
-------------------------- */










/* Start of Code snippet from https://codepen.io/hellomev/pen/LYORMQW */
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
/* END of Code snippet from https://codepen.io/hellomev/pen/LYORMQW */