@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Merienda&family=Noto+Sans:ital@0;1&display=swap");

/* --------------------------
----------- Colors ----------
-------------------------- */

/* Project color pallet */
:root {
  --color-primary-bg: #f8f6d1;
  --color-secondary-bg: #efc600;
  --color-tertiary-bg: #e1c10c10;
  --color-primary: #073503;
  --color-secondary: #1f7405;
  --color-tertiary: #270b03;
}

/* base.html styles (includes header.html and footer.html) */

header,
body {
  background-color: var(--color-primary-bg);
  color: var(--color-primary);
}

footer {
  background-color: var(--color-tertiary);
  color: var(--color-primary-bg);
}

.nav-link,
.btn-booking,
#override-bootstrap .account-management button {
  color: var(--color-primary);
  text-shadow: 0 0 0.2rem var(--color-primary-bg);
}

#override-bootstrap .nav-link.active,
#override-bootstrap .nav-link.show {
  color: var(--color-secondary);
}

#override-bootstrap footer a {
  color: var(--color-primary-bg);
}

/* index.html styles */

.card {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
}

/* Account management */
.account-management a {
  color: var(--color-primary);
}

input {
  border: 2px solid var(--color-primary);
  background-color: var(--color-tertiary-bg);
  color: var(--color-primary);
}

::placeholder {
  color: var(--color-tertiary);
}

/* --------------------------
---------- Buttons ----------
-------------------------- */

/* base.html styles (includes header.html and footer.html) */

#override-bootstrap .btn-booking,
#override-bootstrap .account-management button {
  border: 2px solid var(--color-primary);
  border-radius: 5rem;
  padding: 6px 10px;
  background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--color-tertiary);
}

.toggler-icon {
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-tertiary);
  display: block;
  transition: transform 1s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: translate(5px) rotate(45deg);
  transform-origin: 5% 5%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: translate(5px) rotate(-45deg);
  transform-origin: 5% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--color-primary);
}

.navbar-toggler.collapsed,
.navbar-toggler {
  padding: 0.8rem;
  border: 2px solid var(--color-primary);
  border-top-left-radius: 1.3rem 50%;
  border-top-right-radius: 1.3rem 50%;
  border-bottom-left-radius: 1.3rem 50%;
  border-bottom-right-radius: 1.3rem 50%;
}

/* index.html styles */

/* --------------------------
------- Hover effects -------
-------------------------- */

/* base.html styles (includes header.html and footer.html) */

#override-bootstrap a:hover,
#override-bootstrap .btn-booking:hover,
#override-bootstrap .account-management button:hover {
  color: var(--color-secondary);
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

#override-bootstrap .btn-booking:hover,
#override-bootstrap .account-management button:hover {
  background-color: var(--color-primary);
  color: var(--color-primary-bg);
  text-shadow: none;
}

#override-bootstrap footer a:hover {
  color: var(--color-secondary-bg);
  transition: color 0.4s ease-out;
}

#override-bootstrap footer .footer-links-extra li:hover {
  color: red;
  transition: color 0.4s ease-out;
}

/* index.html styles */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transform: scale(1.3);
  transition: all 0.4s ease-out;
}

.carousel-control-prev-icon:hover {
  background-image: url("../images/chevron-left-light.png");
}
.carousel-control-next-icon:hover {
  background-image: url("../images/chevron-right-light.png");
}

/* Account management */
input:hover,
input:focus {
  border: 2px solid var(--color-secondary);
}

/* --------------------------
------- Layout styles -------
-------------------------- */
/* base.html styles (includes header.html and footer.html) */

body {
  min-height: 110vh;
}

#header-container {
  height: 8rem;
  transition: all 1s ease-out;
}

#header-address-nav,
#header-phone-nav,
#header-address,
#header-phone {
  position: absolute;
}

#header-address-nav {
  top: 1rem;
  right: 6%;
}

#header-phone-nav {
  top: 1rem;
  left: 6%;
}

#header-address,
#header-phone {
  left: 10%;
  display: none;
}

#header-address {
  top: 50%;
}

#header-phone {
  top: 30%;
}

.soft-cushion {
  height: 8vh;
  transition: all 1s ease-out;
}

div:has(> p.error-msg-links) {
  position: relative;
}

.footer-links-extra {
  min-height: 2rem;
}

.error-msg-links {
  position: absolute;
  max-width: 260px;
  background-color: var(--color-secondary-bg);
  color: var(--color-tertiary);
  left: 50%;
  margin-left: -130px;
  bottom: 0;
  border-radius: var(--radius-all);
  box-shadow: var(--box-shadow);
  display: none;
  opacity: 0;
  transition: opacity 1s;
}

/* index.html styles */

/* Account management */
.account-management {
  max-width: 16rem;
}

.account-management ul {
  padding-left: 0;
}

.account-management li {
  margin-bottom: 0.4rem;
}

.account-management h1,
.account-management h2,
.account-management p,
.account-management ul,
.account-management button {
  margin-bottom: 0.75rem;
}

#id_password_helptext {
  margin-top: 0.4rem;
  display: block;
}

hr:has(+h2) {
  margin-top: 0.25rem;
}

input {
  padding: 0.3rem 0.8rem 0.4rem;
  border-radius: 2rem;
  margin: 0.2rem 0;
  outline: none;
}



/* --------------------------
--------- Typography --------
-------------------------- */

/* Project fonts */
:root {
  --buttons-text: "M PLUS Rounded 1c", sans-serif;
  --main-font: "Noto Sans", sans-serif;
  --headings: "Merienda", cursive;
}

/* base.html styles (includes header.html and footer.html) */
h1,
h2 {
  font-family: var(--headings);
  font-size: 2rem;
}

p,
span {
  font-family: var(--main-font);
}

li,
button {
  font-family: var(--buttons-text);
  text-transform: uppercase;
  list-style-type: none;
}

footer .footer-links li {
  font-size: 90%;
}

.footer-links-extra li {
  text-transform: capitalize;
  font-size: 80%;
  list-style-type: none;
  padding-inline-start: 0;
}

.headings {
  font-family: var(--headings);
}

.social-media-symbols li {
  font-size: 2.3rem;
}

/* index.html styles */
#welcome-img + div h1 {
  font-size: 3rem;
}

#hours-and-location {
  font-size: 2rem;
}

/* Account management */
.account-management li {
  text-transform: none;
  font-family: var(--main-font);
  font-size: 80%;
  line-height: 1.1rem;
  font-weight: bold;
}

input {
  font-size: 90%;
  text-align: center;
}

/* --------------------------
----------- Images ----------
-------------------------- */

/* Iconic image styling */
:root {
  --radius-right: 0 1rem 1rem 0;
  --radius-all: 1rem 1rem 1rem 1rem;
  --box-shadow: 0 0 1rem var(--color-tertiary);
}

/* base.html */

.navbar-brand {
  display: none;
}

.navbar-brand img {
  width: 8rem;
}

#main-logo {
  width: 90%;
  max-width: 30rem;
  display: block;
  margin: 0 auto;
}

#symbol-left,
#symbol-right {
  height: 100vh;
  position: fixed;
  opacity: 0.04;
  z-index: 1030;
  pointer-events: none;
}

#symbol-left {
  top: 11%;
  right: 30%;
}

#symbol-right {
  top: 35%;
  left: 40%;
}

/* index.html */

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("../images/chevron-left-dark.png");
}

.carousel-control-next-icon {
  background-image: url("../images/chevron-right-dark.png");
}

#welcome-img {
  height: 60vh;
  background-color: var(--color-tertiary-bg);
  background-image: url("../images/banana-palace-outdoor-pexels-2901215-small-screen.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

/* about.html */

#main-about-img,
#map-img,
.about-images {
  border-radius: var(--radius-all);
  box-shadow: var(--box-shadow);
  width: 100%;
  background-color: var(--color-tertiary-bg);
  background-repeat: no-repeat;
  background-size: cover;
}

#main-about-img,
#map-img {
  height: 22rem;
}

.about-images {
  height: 17rem;
}

#main-about-img {
  background-image: url("../images/main-about-img.webp");
  background-position: center;
}

#map-img {
  background-image: url("../images/phone-map-nature.webp");
  background-position: bottom;
}

.about-img-1 {
  background-image: url("../images/tropical-table-setting.webp");
  background-position: bottom;
}

.about-img-2 {
  background-image: url("../images/woman-enjoying-exotic-food.webp");
  background-position: center;
}

.about-img-3 {
  background-image: url("../images/dimlit-mysterious-bar.webp");
  background-position: center;
}

.about-img-4 {
  background-image: url("../images/private-room-rainforest-setting.webp");
  background-position: center;
}

/* --------------------------
------- Media queries -------
-------------------------- */

/* Media query for bigger than phone - Bootstrap class sm */
@media screen and (min-width: 576px) {
}

/* Media query for tablet - Bootstrap class md */
@media screen and (min-width: 768px) {
  /* Base */
  h1,
  h2 {
    font-size: 2.5rem;
  }

  header li {
    font-size: 95%;
  }

  /* Main */
  #symbol-left {
    right: 60%;
  }

  #symbol-right {
    left: 70%;
  }

  /* index.html */
  #welcome-img {
    border-radius: var(--radius-right);
    box-shadow: var(--box-shadow);
  }

  /* Account management */

  .account-management ul {
    width: 37ch;
    margin-left: -5ch;
  }
}

/* Media query for big tablet - Bootstrap class lg */
@media screen and (min-width: 992px) {
  /* Header */
  #header-address-nav {
    right: 10%;
  }

  #header-phone-nav {
    left: 10%;
  }

  header li {
    font-size: 1rem;
  }

  /* Main */
  #symbol-left {
    right: 70%;
  }

  #symbol-right {
    left: 80%;
  }
}

/* Media query for small laptop - Bootstrap class xl */
@media screen and (min-width: 1200px) {
  /* Header */
  #header-address-nav {
    right: 15%;
  }

  #header-phone-nav {
    left: 15%;
  }
}

/* Media query for laptop - Bootstrap class xxl */
@media screen and (min-width: 1400px) {
  /* index.html */
  #welcome-img {
    background-image: url("../images/banana-palace-outdoor-pexels-2901215-big-screen.webp");
    background-position: left bottom;
    background-size: cover;
    border-radius: var(--radius-all);
  }
}

/* Media query for desktop */
@media screen and (min-width: 1920px) {
  /* Header */
  #header-address-nav {
    right: 20%;
  }

  #header-phone-nav {
    left: 20%;
  }
}

/* --------------------------
-------- TESTING ONLY -------
-------------------------- */
