<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Menu
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<section id="menu-page" class="container text-center">

    <h1 class="mb-3">Menu</h1>

    {% if starters %}

        <hr>
        <h2 class="mt-4 mb-3">Starters</h2>

        {% for starter in starters %}

            <h3 class="fs-4">{{ starter.title }}

                {% if user.is_staff %}
                    <a class="text-decoration-none"
                        href="{% url 'edit_menu_item' starter.id %}">
                        <button class="btn-iconic fs-6 align-top">Edit</button>
                    </a>
                {% endif %}

                {% if user.customer.is_owner %}
                    <a class="text-decoration-none"
                        href="{% url 'delete_menu_item' starter.id %}">
                        <button class="btn-warning fs-6 align-top">Delete</button>
                    </a>
                {% endif %}

            </h3>
            <p class="my-0">{{ starter.content }}</p>
            <p class="mt-1">{{ starter.price }}</p>

        {% endfor %}

    {% endif %}

    {% if mains %}

        <hr>
        <h2 class="mt-4 mb-3">Main courses</h2>

        {% for main in mains %}

            <h3 class="fs-4">{{ main.title }}

                {% if user.is_staff %}
                    <a class="text-decoration-none"
                        href="{% url 'edit_menu_item' main.id %}">
                        <button class="btn-iconic fs-6 align-top">Edit</button>
                    </a>
                {% endif %}

                {% if user.customer.is_owner %}
                    <a class="text-decoration-none"
                        href="{% url 'delete_menu_item' main.id %}">
                        <button class="btn-warning fs-6 align-top">Delete</button>
                    </a>
                {% endif %}

            </h3>
            <p class="my-0">{{ main.content }}</p>
            <p class="mt-1">{{ main.price }}</p>

        {% endfor %}

    {% endif %}

    {% if desserts %}

        <hr>
        <h2 class="mt-4 mb-3">Desserts</h2>

        {% for dessert in desserts %}

            <h3 class="fs-4">{{ dessert.title }}

                {% if user.is_staff %}
                    <a class="text-decoration-none"
                        href="{% url 'edit_menu_item' dessert.id %}">
                        <button class="btn-iconic fs-6 align-top">Edit</button>
                    </a>
                {% endif %}

                {% if user.customer.is_owner %}
                    <a class="text-decoration-none"
                        href="{% url 'delete_menu_item' dessert.id %}">
                        <button class="btn-warning fs-6 align-top">Delete</button>
                    </a>
                {% endif %}

            </h3>
            <p class="my-0">{{ dessert.content }}</p>
            <p class="mt-1">{{ dessert.price }}</p>

        {% endfor %}

    {% endif %}

    {% if drinks %}

        <hr>
        <h2 class="mt-4 mb-3">Drinks</h2>

        {% for drink in drinks %}

            <h3 class="fs-4">{{ drink.title }}

                {% if user.is_staff %}
                    <a class="text-decoration-none"
                        href="{% url 'edit_menu_item' drink.id %}">
                        <button class="btn-iconic fs-6 align-top">Edit</button>
                    </a>
                {% endif %}

                {% if user.customer.is_owner %}
                    <a class="text-decoration-none"
                        href="{% url 'delete_menu_item' drink.id %}">
                        <button class="btn-warning fs-6 align-top">Delete</button>
                    </a>
                {% endif %}

            </h3>
            <p class="my-0">{{ drink.content }}</p>
            <p class="mt-1">{{ drink.price }}</p>

        {% endfor %}

    {% endif %}

    {% if kids %}

        <hr>
        <h2 class="mt-4 mb-3">Kids</h2>

        {% for kid in kids %}

            <h3 class="fs-4">{{ kid.title }}

                {% if user.is_staff %}
                    <a class="text-decoration-none"
                        href="{% url 'edit_menu_item' kid.id %}">
                        <button class="btn-iconic fs-6 align-top">Edit</button>
                    </a>
                {% endif %}

                {% if user.customer.is_owner %}
                    <a class="text-decoration-none"
                        href="{% url 'delete_menu_item' kid.id %}">
                        <button class="btn-warning fs-6 align-top">Delete</button>
                    </a>
                {% endif %}

            </h3>
            <p class="my-0">{{ kid.content }}</p>
            <p class="mt-1">{{ kid.price }}</p>

        {% endfor %}

    {% endif %}

</section>


{% if user.is_staff %}

    <div class="container text-center mt-5">
        <a href="{% url 'add_menu_item' %}">
            <button class="btn-iconic mb-3">
                Add menu item
                <i class="fa-solid fa-plus"></i>
            </button>
        </a>

        <h2 class="mt-4 mb-3">Inactive items</h2>

        {% for menuitem in inactives %}

            <h3 class="fs-4 special-font">{{ menuitem.title }}
                <a class="text-decoration-none"
                    href="{% url 'edit_menu_item' menuitem.id %}">
                    <button class="btn-iconic fs-6 align-top">Edit</button>
                </a>

                {% if user.customer.is_owner %}
                    <a class="text-decoration-none"
                        href="{% url 'delete_menu_item' menuitem.id %}">
                        <button class="btn-warning fs-6 align-top">Delete</button>
                    </a>
                {% endif %}

            </h3>

        {% endfor %}

    </div>

{% endif %}

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
