<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Menu
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<section id="menu-page" class="container text-center">
    <h1 class="mb-3">Menu</h1>


    {% if starters %}

        <hr>
        <h2 class="mt-4 mb-3">Starters</h2>

        {% for starter in starters %}

            <h3>{{ starter.title }}</h3>
            <p class="mb-1">{{ starter.content }}</p>
            <p class="mt-0">{{ starter.price }}</p>

        {% endfor %}

    {% endif %}

    {% if mains %}

        <hr>
        <h2 class="mt-4 mb-3">Main courses</h2>

        {% for main in mains %}

            <h3>{{ main.title }}</h3>
            <p class="mb-1">{{ main.content }}</p>
            <p class="mt-0">{{ main.price }}</p>

        {% endfor %}

    {% endif %}

    {% if desserts %}

        <hr>
        <h2 class="mt-4 mb-3">Desserts</h2>

        {% for dessert in desserts %}

            <h3>{{ dessert.title }}</h3>
            <p class="mb-1">{{ dessert.content }}</p>
            <p class="mt-0">{{ dessert.price }}</p>

        {% endfor %}

    {% endif %}

    {% if drinks %}

        <hr>
        <h2 class="mt-4 mb-3">Drinks</h2>

        {% for drink in drinks %}

            <h3>{{ drink.title }}</h3>
            <p class="mb-1">{{ drink.content }}</p>
            <p class="mt-0">{{ drink.price }}</p>

        {% endfor %}

    {% endif %}

    {% if kids %}

        <hr>
        <h2 class="mt-4 mb-3">Kids</h2>

        {% for kid in kids %}

            <h3>{{ kid.title }}</h3>
            <p class="mb-1">{{ kid.content }}</p>
            <p class="mt-0">{{ kid.price }}</p>

        {% endfor %}

    {% endif %}

</section>


{% if user.is_staff %}

    <div class="container text-center mt-5">
        <a href="{% url 'add_menu_item' %}">
            <button class="btn-iconic mb-3">
                Add menu item
                <i class="fa-solid fa-plus"></i>
            </button>
        </a>

        {% for menuitem in inactives %}

            <p class="special-font fw-bold fs-4">{{ menuitem.title }}</p>

        {% endfor %}

    </div>

{% endif %}

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
