<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Menu
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<section class="container text-center">
  <h1>Menu</h1>
  <p>Current menu items</p>
</section>

{% if user.is_staff %}

    <div class="container text-center mt-5">
        <a href="{% url 'add_menu_item' %}">
            <button class="btn-iconic">
                Add menu item
                <i class="fa-solid fa-plus"></i>
            </button>
        </a>
        <p>Old menu items</p>
    </div>

{% endif %}

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
