<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
- account
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/.css' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<div class="container-fluid container-lg">
  <div class="row">
    <div class="col-12 d-md-none">
      <h1 class="text-center">
        Welcome {{ user.first_name }}
      </h1>
    </div>
    <div class="col-12 col-md-4 col-xxl-3 order-md-3 p-0 ps-md-3">
      <div id="account-img" class="mt-2 mb-3 mt-md-1 mb-3"></div>
    </div>
    <section class="col-12 col-md-8 col-xxl-5 offset-xxl-2 ps-lg-0">
      <h1 class="d-none d-md-block mb-3" aria-hidden="true">
        Welcome {{ user.first_name }}
      </h1>
      <hr class="my-2 d-none d-md-block" />
      <div class="row">

        <div id="account-info-text" class="col-12 col-md-6">

          {% if user.customer.is_owner %}

            <p>
              This is your business account page.
            </p>
            <p>
              Delete old tables and reservations to speed up the website.
              Current old tables in database: {{ tables.count }}
            </p>
            <a href="{% url 'delete_old_tables' %}">
              <button class="btn-warning">Delete old tables</button>
            </a>

          {% else %}

            <p>
              This is your personal account page. <br />Here you can add and edit
              your <br />personal information as well as <br />manage your
              reservations.
            </p>
            <p class="mb-md-0">
              Don't hesitate to contact us if <br />you have any questions!
            </p>

          {% endif %}

        </div>
        <div class="col-12 col-md-6 p-md-0">
          <ul class="p-0" id="user-details">
            <li>
              Username:
              <span class="special-font">{{ user.username }}</span>
            </li>
            <li>
              First name:
              <span class="special-font">{{ user.first_name }}</span>
            </li>
            <li>
              Last name: <span class="special-font">{{ user.last_name }}</span>
            </li>
            <li>
              Phone number:
              <span class="special-font"
                >{{ user.customer.phone.as_international }}</span
              >
            </li>
            <li>
              Email:
              <span class="small special-font text-break"
                >{{ user.email }}</span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md-6 p-0">

          {% if user.customer.has_discount and user.customer.has_clicked %}

            <a href="{% url 'fireworks_page' %}" class="text-decoration-none">

              {% if user.username == "Lauralientje" %}
                <i class="fa-solid fa-heart fa-2xl mt-1 me-auto ps-3"></i>
                <span class="small special-font">Free food for life!</span>

              {% else %}
                <i class="fa-solid fa-star fa-2xl me-auto ps-2"></i>
                <span class="small special-font">Friends and family discount</span>

              {% endif %}
            </a>

          <!-- prettier-ignore -->
          {% elif user.customer.has_discount and not user.customer.has_clicked %}
            <p class="mt-2 fs-4">
              <a href="{% url 'fireworks_page' %}" class="text-decoration-none">

                {% if user.username == "Lauralientje" %}
                  <i class="fa-solid fa-heart fa-beat-fade fa-2xl ps-3 pt-4"></i>
                {% else %}
                  <i class="fa-solid fa-ranking-star fa-shake fa-xl ps-3"></i>
                {% endif %}

                <span class="ps-2 special-font" id="click-me">Click me!</span></a
              >
            </p>
          {% endif %}
        </div>
        <div class="col-12 col-md-6 p-md-0 my-4 my-md-0">
          <a href="{% url 'edit_account' %}"
            class="text-decoration-none btn-iconic-reverse me-1">
            Edit
          </a>
          <a href="{% url 'delete_account' %}"
            class="text-decoration-none btn-warning me-1">
            Delete
          </a>
          <a href="{% url 'account_logout' %}"
            class="text-decoration-none btn-warning">
            Logout
          </a>
        </div>
      </div>
        <h2 class="col-12 mx-auto p-0 mt-3">Reservations</h2>
        <hr class="my-2">
        <!-- if user has reservations -->
        {% if reservations %}
          {% for reservation in reservations %}
            <div class="card">
              <div class="card-body p-0 py-2">
                <div class="row align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 col-xl-5 col-xxl-7">
                    <h5 class="card-title">
                      {{ reservation.table.date|date:"l F d, Y" }}
                    </h5>
                    <p class="card-text">
                      Time of arrival: {{ reservation.time }} -
                      Party size: {{ reservation.party_size }}
                      <br>
                      Notes: {{ reservation.notes }}
                    </p>
                  </div>
                  <div class="col-11 col-md-5 p-0 pt-1 pt-md-0 mx-auto">
                    <a
                      href="{% url 'edit_reservation' reservation.id %}"
                      class="text-decoration-none btn-iconic-reverse me-2">
                      Edit
                    </a>
                    <a
                      href="{% url 'delete_reservation' reservation.id %}"
                      class="text-decoration-none btn-warning">
                      Delete
                    </a>
                  </div>
                </div>
              </div>
              <hr class="my-2">
            </div>
          {% endfor %}

        {% else %}
          <p class="small">
            You currently do not have any upcoming reservations.
          </p>
        {% endif %}

    </section>
  </div>
</div>

{% if user.customer.is_owner %}
  {% include 'account/all_users.html' %}
{% endif %}

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}

  {% if user.customer.has_discount and not user.customer.has_clicked %}
    <script src="{% static './js/account-page.js' %}"></script>
  {% endif %}

{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
