<!-- prettier-ignore -->
{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Delete account" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Delete account" %}
    {% endelement %}
    <!-- prettier-ignore -->
    <p class="wider-text">
        {% trans 'You are about to delete your account. This means that all your personal information and all reservations, current and previous, will be deleted from our database. This action can not be reversed.' %}
    </p>
    <p>
        {% trans 'Are you sure you want to delete your account?' %}
    </p>
    {% url 'delete_account' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
        <button class="btn-warning" type="submit">{% trans 'Delete' %}</button>
        {% endslot %}
    {% endelement %}
{% endblock content %}
