<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
Edit Account
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}
<section class="row justify-content-center m-0 mb-4">
    <div class="account-management text-center">
        <h1>Edit account</h1>
        <div class="form-content">
            <form method="post" enctype="multipart/form-data">
                {{ user_form | crispy }}
                {{ customer_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn-iconic">Save changes</button>
            </form>
            <a href="{% url 'account_change_password' %}"
                class="btn-iconic-reverse mt-4">
                Change password
            </a>
        </div>
    </div>
</section>
<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/' %}/"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}