<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
- account
{% endblock %}

{% block page-specific-css %}

{% if user.username == "Lauralientje" %}
<link rel="stylesheet" href="{% static './css/fireworks-pink.css' %}" />

{% else %}
<link rel="stylesheet" href="{% static './css/fireworks.css' %}" />

{% endif %} {% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

<section class="row justify-content-center m-0 mb-4">
  <div class="account-management text-center">

    {% if user.username == "Lauralientje" %}

      <h1 class="lh-base mt-5 pt-xl-5">
        Congratulations<br />
        <span id="name"> Laura </span>
      </h1>
      <p class="mt-5">
        Mijn lieverd, you have been granted VIP status and you
        get 100% discount.<br>
        <span class="d-block mt-2">Free food for life!</span>
      </p>

    {% else %}

      <h1 class="lh-base mt-5 pt-xl-5">
        Congratulations<br />
        <span id="name"> {{ user.first_name }} </span>
      </h1>
        <p class="mt-5">You have been granted our friends and family discount!</p>

    {% endif %}

    <a class="" href="{% url 'account' %}">
      <button class="btn-iconic mt-4 text-decoration-none">Account</button>
    </a>

  </div>
</section>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<script src="{% static './js/fireworks.js' %}"></script>
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
