<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}
- account
{% endblock %}

{% block page-specific-css %}
<link rel="stylesheet" href="{% static './css/fireworks_pink.css' %}" />
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>

<section class="row justify-content-center m-0 mb-4">
  <div class="account-management text-center">
    <h1 class="lh-base mt-5 pt-xl-5">Congratulations<br />
      <span id="name">
        {{ user.first_name }}
      </span>
    </h1>
    <p class="mt-5">You have been granted our friends and family discount!</p>
    <a class="" href="{% url 'account' %}">
      <button class="btn-iconic mt-4 text-decoration-none">
        Account
      </button>
    </a>
  </div>
</section>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<script src="{% static './js/fireworks.js' %}/"></script>
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
