{% extends 'base.html' %}
{% load static %}

{% block head_title %}
- Error 500 - Internal Server Error
{% endblock %}

{% block page-content %}

<section class="container text-center">

    <img src="{% static './images/spinning-banana.gif' %}" alt="Spinning banana GIF">

    <h1 class="mt-4">Error 500 - Internal Server Error</h1>
    <p>Oops! Something went wrong on the server.</p>
    <p>Please try again later.</p>

    <a href="{% url 'home' %}" class="mt-2 mt-lg-3 btn-iconic text-decoration-none">
        Return to the home page
    </a>

</section>

{% endblock %}
