<footer>
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Address and phonenumber -->
      <div class="d-none px-0 d-md-block col-md-4 offset-md-1 offset-lg-2">
        <p>
          Banana Palace Restaurant<br />
          Tall tree road 986<br />
          226262 Banana Republic
        </p>
        <p class="mb-0">+22 (6)262 725 232</p>
      </div>
      <!-- Social media icons -->
      <div
        class="py-4 px-0 col-10 offset-1 col-md-4 offset-md-2 col-lg-3 offset-lg-1 col-xl-2 offset-xl-2">
        <p class="text-center pe-1 mb-0 mb-lg-2">Follow us on social media:</p>
        <ul class="social-media-symbols d-flex justify-content-center ps-0">
          <li>
            <i class="fa-brands fa-square-facebook px-3"></i>
          </li>
          <li>
            <i class="fa-brands fa-square-x-twitter px-3"></i>
          </li>
          <li>
            <i class="fa-brands fa-square-instagram px-3"></i>
          </li>
          <li>
            <i class="fa-brands fa-square-youtube px-3"></i>
          </li>
        </ul>
        <ul class="footer-links d-flex d-sm-none flex-wrap justify-content-center ps-0 mb-0">
          <li><a href="{% url 'home' %}" class="px-2 text-decoration-none">Home</a></li>
          <li><a href="{% url 'allergens' %}" class="px-2 text-decoration-none">Allergens</a></li>
          <li><a href="{% url 'careers' %}" class="px-2 text-decoration-none">Careers</a></li>
          <li><a href="{% url 'about' %}" class="px-2 text-decoration-none">Contact</a></li>
        </ul>
        <ul class="footer-links d-none d-sm-flex justify-content-center ps-0 mb-0">
          <li><a href="{% url 'home' %}" class="px-2 text-decoration-none">Home</a></li>
          <li><a href="{% url 'allergens' %}" class="px-2 text-decoration-none">Allergens</a></li>
          <li><a href="{% url 'careers' %}" class="px-2 text-decoration-none">Careers</a></li>
          <li><a href="{% url 'about' %}" class="px-2 text-decoration-none">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row m-0 mb-1 p-0">
    <div class="col-12 col-md-7 col-lg-12 p-0 mx-auto">
      <ul
        class="footer-links-extra d-flex justify-content-center flex-wrap mb-0 p-0">
        <li>
          <a href="{% url 'terms-and-conditions' %}" class="px-2 text-decoration-none">
            Terms & Conditions</a>
        </li>
        <li>
          <a href="{% url 'privacy-policy' %}" class="px-2 text-decoration-none">
            Privacy Policy</a>
        </li>
        <li>
          <a href="{% url 'cookie-policy' %}" class="px-2 text-decoration-none">
            Cookie Policy</a>
        </li>
        <li>
          <a href="{% url 'modern-slavery-statement' %}" class="px-2 text-decoration-none">
          Modern Slavery Statement</a>
        </li>
        <li>
          <a href="{% url 'gender-pay-gap' %}" class="px-2 text-decoration-none">
            Gender Pay Gap
          </a>
        </li>
        <li>
          <a href="{% url 'animal-welfare' %}" class="px-2 text-decoration-none">
          Animal Welfare</a>
        </li>
        <li>
          <a href="{% url 'investor-relations' %}" class="px-2 text-decoration-none">
            Investor Relations
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p class="error-msg-links py-3 mb-5 text-center">Website is being updated <br>and these links are currently unavalible.
      Send an email to info@bananapalace.com <br>for the information. <br>
      <span class="d-block mt-2">Sorry for the inconvenience.</span>
    </p>
  </div>
</footer>
