<footer>
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Address and phonenumber -->
      <div class="d-none px-0 d-md-block col-md-4 offset-md-1 offset-lg-2">
        <p>
          Banana Palace Restaurant<br />
          Address etx
        </p>
        <p class="mb-0">Phone number</p>
      </div>
      <!-- Social media icons -->
      <div
        class="py-4 px-0 col-10 offset-1 col-md-4 offset-md-2 col-lg-3 offset-lg-1 col-xl-2 offset-xl-2">
        <p class="text-center pe-1 mb-0 mb-lg-2">Follow us on social media:</p>
        <ul class="social-media-symbols d-flex justify-content-center ps-0">
          <li>
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener"
              aria-label="Link to our facebook page(opens in a new tab)">
              <i class="fa-brands fa-square-facebook px-3"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.twitter.com/"
              target="_blank"
              rel="noopener"
              aria-label="Link to our twitter page(opens in a new tab)">
              <i class="fa-brands fa-square-x-twitter px-3"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener"
              aria-label="Link to our instagram page(opens in a new tab)">
              <i class="fa-brands fa-square-instagram px-3"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener"
              aria-label="Link to our youtube page(opens in a new tab)">
              <i class="fa-brands fa-square-youtube px-3"></i
            ></a>
          </li>
        </ul>
        <ul
          class="footer-links d-flex justify-content-center flex-wrap ps-0 mb-0">
          <li><a href="#" class="px-2 text-decoration-none">Link 1</a></li>
          <li><a href="#" class="px-2 text-decoration-none">Link 2</a></li>
          <li><a href="#" class="px-2 text-decoration-none">Link 3</a></li>
          <li><a href="#" class="px-2 text-decoration-none">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
