<!-- prettier-ignore -->
{% load static %}
{% url 'about' as about_url %}
{% url 'our-story' as our_story_url %}
{% url 'account_login' as account_login_url %}
{% url 'account' as account_url %}
{% url 'reservation_page' as reservation_page_url %}
{% url 'home' as home_url %}

<header class="sticky-top">
  <!-- Header sticks to top of screen at all times -->
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid" id="header-container">
      <a class="navbar-brand ps-2 ps-lg-4" href="{% url 'home' %}"
        ><img
          src="{% static './images/banana-palace-horizontal.png' %}"
          alt="Banana Palace logo"
      /></a>
      <button
        class="navbar-toggler collapsed ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>
      <span id="header-phone" class="d-sm-none"
        >+22 (6)262 725 232</span
      >
      <span id="header-address" class="d-sm-none">
        Tall tree road 986 <br />226262 Banana Republic</span
      >
      <!-- Navbar items -->
      <div
        class="collapse navbar-collapse
        {% if request.path == home_url %}
          justify-content-center
        {% else %}
          justify-content-end
        {% endif %}
         mt-3"
        id="navbarNav">
        <span id="header-phone-nav" class="d-none"
          >+22 (6)262 725 232</span
        >
        <span id="header-address-nav" class="d-none text-end"
          >Tall tree road 986, 226262 Banana Republic</span
        >
        <ul class="navbar-nav">
          <!-- Admin quick login button dev -->
          {% if user.is_superuser or user.customer.is_owner %}
          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a class="nav-link px-0 px-lg-2" href="{% url 'admin:index' %}">
              Admin <i class="fa-solid fa-key"></i>
            </a>
          </li>
          {% endif %}
          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a class="nav-link px-0 px-lg-2" href="#">Menu</a>
          </li>
          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a
              class="nav-link px-0 px-lg-2 {% if request.path == about_url %}active"
              aria-current="page{% endif %}"
              href="{% url 'about' %}">
              <!-- prettier-ignore -->
              {% if user.is_superuser or user.customer.is_owner %}
              Hours
              {% else %}
              Hours & location
              {% endif %}
            </a>
          </li>
          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a class="nav-link px-0 px-lg-2 {% if request.path == our_story_url %}active"
            aria-current="page{% endif %}" href="{% url 'our-story' %}">Our story</a>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a class="nav-link px-0 px-lg-2 {% if request.path == account_url %}active"
            aria-current="page{% endif %}" href="{% url 'account' %}"
              >Account/Logout</a
            >
          </li>
          {% else %}
          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a class="nav-link px-0 px-lg-2 {% if request.path == account_login_url %}active"
            aria-current="page{% endif %}" href="{% url 'account_login' %}"
              >Login/Register</a
            >
          </li>
          {% endif %}

          <li class="nav-item ms-auto me-3 mx-sm-1">
            <a class="nav-link btn-iconic{% if request.path == reservation_page_url %}"
            aria-current="page{% endif %}" href="{% url 'reservation_page' %}">Book a table</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <img
    id="main-logo"
    src="{% static './images/banana-palace-main.png' %}"
    alt="Banana Palace logo" />
</header>
