<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- About us
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-5 offset-md-1 col-lg-3 px-4 p-md-2 pt-0">
      <div id="main-about-img"></div>
    </div>
    <section class="col-12 col-md-5 col-lg-4 text-center mb-2 mb-md-0">
      <h2 class="headings mb-4 mt-3 mt-md-0">Hours & Location</h2>
      <p>
        Tall tree road 986<br />226262 Banana Republic <br />+22 (6)262 725
        232<br />info@bananapalace.com
      </p>
      <p>
        <strong>Dinner</strong> <br />Sunday: 5 - 9 p.m.<br />Monday - Thursday:
        5 - 10 p.m.<br />
        Friday + Saturday: 5 - 11 p.m.
      </p>
      <p class="mb-0">
        <strong>Happy Hour,</strong><em> available at the bar</em> <br />Monday
        - Friday: 5 - 7 p.m.
      </p>
    </section>
    <div class="p-2 d-none d-lg-block col-lg-2">
      <div id="map-img"></div>
    </div>
  </div>
  <div id="about-images" class="row mt-0 mb-2 my-md-4 m-lg-4">
    <div class="col-12 col-md-6 col-lg-3 p-0 px-4 my-3">
      <div class="about-images about-img-1"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-0 px-4 my-3">
      <div class="about-images about-img-2"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-0 px-4 my-3">
      <div class="about-images about-img-3"></div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-0 px-4 my-3">
      <div class="about-images about-img-4"></div>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
