<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
- About us
{% endblock %}

<!-- prettier-ignore -->
{% block page-content %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-7 col-lg-5 p-2 pt-0">
      <img src="{% static './images/1.png' %}" class="img-fluid" alt="1" />
    </div>
    <section class="col-12 col-md-5 col-lg-4 text-center">
      <h2 class="special-font mb-4">Hours & Location</h2>
      <p>
        Tall tree road 986<br />226262 Banana Republic <br />+22 (6)262 725
        232<br />info@bananapalace.com
      </p>
      <p>
        <strong>Dinner</strong> <br />Sunday: 5 - 9 p.m.<br />Monday - Thursday:
        5 - 10 p.m.<br />
        Friday + Saturday: 5 - 11 p.m.
      </p>
      <p>
        <strong>Happy Hour,</strong><em> available at the bar</em> <br />Monday
        - Friday: 5 - 7 p.m.
      </p>
    </section>
    <div class="col-12 col-md-5 col-lg-3 p-2 d-none d-lg-block">
      <img src="{% static './images/1.png' %}" class="img-fluid" alt="1" />
    </div>
  </div>
  <div class="row mt-0 mb-2 my-md-4 m-lg-4">
    <div class="col-12 col-md-6 col-lg-3 p-0">
      <img
        src="{% static './images/1.png' %}"
        class="img-fluid p-2 p-xl-3"
        alt="1" />
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-0">
      <img
        src="{% static './images/1.png' %}"
        class="img-fluid p-2 p-xl-3"
        alt="1" />
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-0">
      <img
        src="{% static './images/1.png' %}"
        class="img-fluid p-2 p-xl-3"
        alt="1" />
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-0">
      <img
        src="{% static './images/1.png' %}"
        class="img-fluid p-2 p-xl-3"
        alt="1" />
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
