<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Allergens
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<article class="container text-center info-page">
  <h1>Allergens Information</h1>
  <p>
    At Banana Palace restaurant, we are committed to providing a safe and
    enjoyable dining experience for all our guests, including those with food
    allergies or intolerances. We understand the importance of transparency and
    want to ensure that you have access to accurate information about allergens
    present in our menu items.
  </p>

  <h2>Our Approach to Allergens</h2>
  <p>
    Ingredient Transparency: We carefully select and source our ingredients to
    ensure the highest quality and freshness. We provide detailed information
    about the ingredients used in our dishes, including any allergens, to help
    you make informed choices about your meal.
  </p>
  <p>
    Cross-Contamination Prevention: While we take every precaution to prevent
    cross-contamination in our kitchen, please be aware that our menu items may
    be prepared in facilities that handle allergens. We encourage guests with
    severe allergies to exercise caution and inform our staff of any dietary
    restrictions or special requirements.
  </p>

  <h2>Identifying Allergens</h2>
  <p>
    Menu Labels: Our menu includes clear and concise allergen labels to indicate
    the presence of common allergens such as gluten, dairy, nuts, shellfish, and
    soy. These labels are designed to help you quickly identify menu items that
    may pose a risk for your specific dietary needs.
  </p>
  <p>
    Allergen Guide: For detailed information about allergens present in our menu
    items, please refer to our allergen guide, available upon request. This
    guide provides a comprehensive list of ingredients and allergens for each
    menu item, allowing you to make informed decisions about your meal.
  </p>

  <h2>Allergen-Friendly Options</h2>
  <p>
    Customization: We offer allergen-friendly options and are happy to
    accommodate special requests or modifications to our menu items to suit your
    dietary preferences or restrictions. Please inform your server of any
    allergies or dietary requirements, and we will do our best to accommodate
    your needs.
  </p>
  <p>
    Dedicated Staff Training: Our staff undergoes rigorous training on allergen
    awareness and handling procedures to ensure that your dining experience is
    safe and enjoyable. We are here to answer any questions you may have and
    assist you in making suitable menu choices.
  </p>

  <h2>Your Safety is Our Priority</h2>
  <p>
    At Banana Palace restaurant, your safety and satisfaction are our top
    priorities. We strive to create a welcoming and inclusive environment where
    all guests can dine with confidence and peace of mind. If you have any
    concerns or questions about allergens, please don't hesitate to reach out to
    our staff for assistance.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or requests regarding allergens at
    Banana Palace restaurant, please contact us at info@bananapalace.com or +22
    (6)262 725 232.
  </p>
</article>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
