<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Animal Welfare
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<article class="container text-center info-page">
  <h1>Animal Welfare Statement</h1>
  <p>
    Banana Palace restaurant is committed to promoting the ethical treatment and
    welfare of animals. We believe in the importance of responsible sourcing and
    sustainable practices that prioritize the well-being of animals raised for
    food production.
  </p>

  <h2>Our Commitment</h2>
  <p>
    Ethical Sourcing: Banana Palace restaurant sources animal products from
    suppliers who adhere to high standards of animal welfare, including humane
    treatment, responsible farming practices, and ethical handling throughout
    the supply chain.
  </p>
  <p>
    Cruelty-Free Practices: We are dedicated to ensuring that animals raised for
    food production are treated with compassion and respect. We do not support
    or condone any practices that cause unnecessary harm, suffering, or distress
    to animals.
  </p>
  <p>
    Transparency: We are transparent about our sourcing practices and are
    committed to providing our guests with information about the origin and
    production methods of the animal products served in our restaurant. We
    believe that transparency is essential for building trust and
    accountability.
  </p>

  <h2>Animal Welfare Standards</h2>
  <p>
    Supplier Requirements: Banana Palace restaurant partners with suppliers who
    adhere to rigorous animal welfare standards, including compliance with
    applicable laws and regulations, as well as industry-recognized
    certification programs.
  </p>
  <p>
    Audits and Inspections: We conduct regular audits and inspections of our
    suppliers' facilities to ensure compliance with our animal welfare
    standards. This includes on-site visits, documentation reviews, and
    third-party certifications.
  </p>
  <p>
    Continuous Improvement: We continuously evaluate and improve our animal
    welfare standards and practices to reflect emerging trends, scientific
    research, and evolving consumer preferences. We actively seek feedback from
    stakeholders to inform our decision-making process.
  </p>

  <h2>Menu Offerings</h2>
  <p>
    Sustainable Options: We offer a variety of menu options that promote
    sustainable and ethical food choices, including plant-based alternatives and
    responsibly sourced animal products. We believe in providing our guests with
    delicious and nutritious options that align with their values and
    preferences.
  </p>
  <p>
    Education and Awareness: We educate our guests about the importance of
    animal welfare and the impact of their food choices on animals, the
    environment, and public health. We encourage informed decision-making and
    support initiatives that promote animal welfare and sustainable food
    systems.
  </p>

  <h2>Our Responsibility</h2>
  <p>
    Banana Palace restaurant recognizes that promoting animal welfare is not
    only a moral obligation but also an essential component of our commitment to
    sustainability and social responsibility. We are dedicated to upholding the
    highest standards of animal welfare in everything we do.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or suggestions regarding Banana Palace
    restaurant's Animal Welfare Statement or our efforts to promote ethical
    sourcing and animal welfare, please contact us at info@bananapalace.com or
    +22 (6)262 725 232.
  </p>
</article>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
