<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Careers
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<article class="container text-center info-page">
  <h1>Careers at Banana Palace</h1>
  <p>
    Join the Banana Palace team and embark on an exciting journey in the
    hospitality industry! We are always on the lookout for talented and
    passionate individuals who share our commitment to delivering exceptional
    dining experiences and promoting a culture of excellence.
  </p>

  <h2>Our Culture</h2>
  <p>
    At Banana Palace, we believe in fostering a supportive and inclusive work
    environment where every team member is valued, respected, and empowered to
    succeed. Our culture is built on the following core principles:
  </p>

  <ul>
    <li>
      Teamwork: We believe in the power of collaboration and teamwork to achieve
      our goals and deliver outstanding service to our guests.
    </li>
    <li>
      Excellence: We strive for excellence in everything we do, from the quality
      of our food and service to the professionalism of our staff.
    </li>
    <li>
      Diversity and Inclusion: We celebrate diversity and embrace differences in
      perspectives, backgrounds, and experiences. We believe that a diverse team
      leads to innovation and creativity.
    </li>
    <li>
      Continuous Learning: We are committed to providing opportunities for
      professional growth and development to our employees through training,
      mentorship, and ongoing learning opportunities.
    </li>
  </ul>

  <h2>Our Policies</h2>
  <p>
    Equal Employment Opportunity: Banana Palace is an equal opportunity employer
    and prohibits discrimination and harassment of any kind. We are committed to
    creating a diverse and inclusive workplace where all employees are treated
    with fairness, dignity, and respect.
  </p>
  <p>
    Workplace Health and Safety: We prioritize the health, safety, and
    well-being of our employees and guests. We adhere to strict health and
    safety protocols to ensure a safe working environment for everyone.
  </p>
  <p>
    Ethical Conduct: We conduct our business with integrity, honesty, and
    transparency. We expect all employees to adhere to the highest ethical
    standards and comply with all applicable laws and regulations.
  </p>

  <h2>Join Our Team</h2>
  <p>
    If you are passionate about hospitality and are interested in joining the
    Banana Palace team, we invite you to explore our current job openings and
    submit your application. To apply for a job, please send your CV and cover
    letter to careers@bananapalace.com. Be sure to include the position you are
    applying for in the subject line of your email. If the position you are
    applying for is not listed in current job openings then write "Spontaneous
    Application" in the subject line and we will contact you as soon as possible
    to discuss your future with us.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or requests for Banana
    Palace restaurant, please contact us at info@bananapalace.com or +22 (6)262
    725 232.
  </p>
</article>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
