<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Privacy Policy
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<div class="container text-center info-page">
  <h1>Cookie Policy</h1>

  <p>
    Banana Palace restaurant uses cookies and similar tracking technologies on
    our website to enhance your browsing experience, analyze website traffic,
    and improve our services. This Cookie Policy explains how we use cookies,
    what types of cookies we use, and your choices regarding cookies.
  </p>

  <h2>What are Cookies?</h2>
  <p>
    Cookies are small text files that are stored on your device (computer,
    smartphone, or tablet) when you visit a website. They contain information
    about your browsing preferences and activities on the website. Cookies may
    be session cookies (temporary and deleted when you close your browser) or
    persistent cookies (remain on your device until they expire or are deleted).
  </p>

  <h2>How We Use Cookies</h2>
  <p>
    Essential Cookies: These cookies are necessary for the functioning of our
    website and enable core functionalities such as navigation, access to secure
    areas, and basic website features. You cannot opt-out of essential cookies
    as they are required for the website to operate properly.
  </p>
  <p>
    Analytical/Performance Cookies: We use analytical cookies to collect
    information about how visitors interact with our website, such as which
    pages are visited most frequently, how long visitors spend on each page, and
    any error messages encountered. This helps us analyze website traffic,
    identify areas for improvement, and enhance the user experience.
  </p>
  <p>
    Functionality Cookies: Functionality cookies allow us to remember your
    preferences and customize your website experience based on your choices
    (e.g., language preferences, font size). These cookies enhance usability and
    personalization but are not essential for the website's functionality.
  </p>
  <p>
    Marketing/Targeting Cookies: We may use marketing cookies to track your
    browsing behavior and tailor advertising content to your interests. These
    cookies may be set by third-party advertising networks or social media
    platforms. You have the option to opt-out of marketing cookies or withdraw
    your consent at any time.
  </p>

  <h2>Your Cookie Choices</h2>
  <p>
    Consent: By continuing to use our website, you consent to the use of cookies
    in accordance with this Cookie Policy. You may withdraw your consent or
    manage your cookie preferences by adjusting your browser settings or using
    cookie consent management tools available on our website.
  </p>
  <p>
    Browser Settings: You can configure your browser settings to accept, reject,
    or delete cookies. Please note that blocking or disabling certain types of
    cookies may affect your website experience and functionality.
  </p>
  <p>
    Third-Party Cookies: Some cookies on our website may be set by third-party
    service providers, such as Google Analytics or social media platforms. We do
    not control these cookies and recommend reviewing the privacy policies of
    these third parties for more information about their cookie practices.
  </p>

  <h2>Changes to Cookie Policy</h2>
  <p>
    Banana Palace restaurant reserves the right to modify or update this Cookie
    Policy at any time without prior notice. We encourage you to review this
    Cookie Policy periodically for any changes. Your continued use of our
    website after the posting of changes constitutes your acceptance of such
    changes.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or requests regarding this Cookie
    Policy or our cookie practices, please contact us at info@bananapalace.com
    or +22 (6)262 725 232.
  </p>
</div>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
