<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Gender Pay Gap
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<article class="container text-center info-page">
  <h1>Gender Pay Gap Statement</h1>
  <p>
    Banana Palace restaurant is committed to promoting gender equality and
    diversity in the workplace. We believe that every individual, regardless of
    gender, should have equal opportunities for advancement, compensation, and
    recognition.
  </p>

  <h2>Our Commitment</h2>
  <p>
    Equality and Fairness: Banana Palace restaurant is dedicated to fostering a
    work environment that is free from discrimination and bias. We are committed
    to providing equal pay for equal work and ensuring that all employees are
    treated fairly and equitably, regardless of gender.
  </p>
  <p>
    Transparency: We are transparent about our pay practices and are committed
    to regularly monitoring and reporting on any gender pay gaps within our
    organization. We believe that transparency is essential for identifying and
    addressing disparities in pay.
  </p>
  <p>
    Inclusive Policies: We have implemented inclusive policies and practices
    that promote diversity, equity, and inclusion at all levels of our
    organization. This includes initiatives to attract, retain, and develop
    talented individuals from diverse backgrounds.
  </p>

  <h2>Gender Pay Gap Analysis</h2>
  <p>
    Data Collection: Banana Palace restaurant collects and analyzes data on
    employee compensation to identify any gender pay gaps within our workforce.
  </p>
  <p>
    Factors Considered: When conducting our gender pay gap analysis, we consider
    various factors that may contribute to pay disparities, including job roles,
    levels of experience, and performance evaluations.
  </p>
  <p>
    Addressing Disparities: If any gender pay gaps are identified, we take
    proactive measures to address them. This may include conducting salary
    reviews, implementing pay equity adjustments, and providing training and
    development opportunities to support career advancement.
  </p>

  <h2>Continuous Improvement</h2>
  <p>
    Commitment to Progress: Banana Palace restaurant is committed to
    continuously improving our efforts to eliminate gender pay gaps and promote
    gender equality. We recognize that achieving gender parity requires ongoing
    dedication and collaboration.
  </p>
  <p>
    Collaboration and Engagement: We collaborate with employees, stakeholders,
    and industry partners to share best practices and develop strategies for
    reducing gender pay disparities. We actively seek feedback and input from
    our workforce to inform our policies and initiatives.
  </p>

  <h2>Our Responsibility</h2>
  <p>
    Banana Palace restaurant acknowledges that closing the gender pay gap is not
    only a legal obligation but also a moral imperative. We are committed to
    playing our part in creating a more equitable and inclusive society where
    everyone has the opportunity to thrive and succeed, regardless of gender.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or suggestions regarding Banana Palace
    restaurant's Gender Pay Gap Statement or our efforts to promote gender
    equality, please contact us at info@bananapalace.com or +22 (6)262 725 232.
  </p>
</article>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
