<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Modern Slavery Statement
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<article class="container text-center info-page">
  <h1>Modern Slavery Statement</h1>

  <p>
    Banana Palace restaurant is committed to combating modern slavery and human
    trafficking in all its forms. We recognize that slavery, forced labor, and
    human trafficking are abhorrent practices that have no place in our business
    operations or supply chains.
  </p>

  <h2>Our Commitment</h2>
  <p>
    Zero Tolerance: Banana Palace restaurant maintains a zero-tolerance policy
    towards modern slavery and human trafficking. We are committed to ensuring
    that our business and supply chain are free from any form of exploitation or
    coercion.
  </p>
  <p>
    Awareness and Training: We provide training and awareness programs to our
    employees to educate them about the signs of modern slavery and their
    responsibilities in preventing and reporting any suspected cases.
  </p>
  <p>
    Supplier Due Diligence: We conduct due diligence assessments of our
    suppliers and business partners to ensure that they share our commitment to
    ethical and responsible business practices. We expect our suppliers to
    comply with all applicable laws and regulations regarding labor rights and
    human rights.
  </p>
  <p>
    Monitoring and Compliance: We regularly monitor and review our supply chain
    to identify and address any potential risks of modern slavery or human
    trafficking. We work closely with our suppliers to implement corrective
    actions and improve labor standards where necessary.
  </p>

  <h2>Reporting and Whistleblowing</h2>
  <p>
    Reporting Mechanisms: Banana Palace restaurant encourages all employees,
    suppliers, and stakeholders to report any concerns or suspicions of modern
    slavery or human trafficking. We have established confidential reporting
    mechanisms to facilitate the reporting of such incidents.
  </p>
  <p>
    Non-Retaliation: We prohibit retaliation against any individual who reports
    in good faith concerns about modern slavery or human trafficking. We are
    committed to investigating all reports promptly and taking appropriate
    action to address any identified issues.
  </p>

  <h2>Continuous Improvement</h2>
  <p>
    Collaboration: Banana Palace restaurant collaborates with industry peers,
    government agencies, and non-governmental organizations to share best
    practices and enhance our efforts to combat modern slavery and human
    trafficking.
  </p>
  <p>
    Continuous Monitoring: We are committed to continuous improvement in our
    policies, procedures, and practices related to modern slavery prevention. We
    regularly review and update our policies to reflect emerging trends and
    regulatory requirements.
  </p>

  <h2>Our Responsibility</h2>
  <p>
    Banana Palace restaurant recognizes that we have a responsibility to uphold
    human rights and ethical labor practices in all aspects of our business
    operations. We are committed to working tirelessly to eradicate modern
    slavery and human trafficking and create a world where all individuals are
    treated with dignity, respect, and equality.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or information regarding modern slavery
    or human trafficking related to Banana Palace restaurant, please contact us
    at info@bananapalace.com or +22 (6)262 725 232.
  </p>
</article>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
