<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block head_title %}
- Privacy Policy
{% endblock %}

{% block page-specific-css %}
<!-- <link rel="stylesheet" href="{% static './css/' %}" /> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html head -->
{% block extra_head %}{% endblock extra_head %}

<!-- prettier-ignore -->
{% block page-content %}

<article class="container text-center info-page">
  <h1>Privacy Policy</h1>

  <p>
    Banana Palace restaurant is committed to protecting the privacy and
    confidentiality of our guests' personal information. This Privacy Policy
    outlines how we collect, use, disclose, and safeguard your information when
    you visit our restaurant, make reservations, or interact with us through our
    website or other communication channels.
  </p>

  <h2>Information We Collect</h2>
  <p>
    Personal Information: When you make a reservation or contact us for
    inquiries, we may collect certain personal information such as your name,
    contact details (email address, phone number), and reservation preferences.
  </p>
  <p>
    Payment Information: If you make a reservation online or pay for our
    services, we may collect payment information such as credit/debit card
    details, billing address, and other relevant payment details. Please note
    that we do not store or retain your payment information beyond the
    transaction period.
  </p>
  <p>
    Website Usage Data: When you visit our website, we may collect certain
    information automatically through cookies and similar tracking technologies.
    This may include your IP address, browser type, device information, and
    browsing patterns.
  </p>

  <h2>How We Use Your Information</h2>
  <p>
    Providing Services: We use the information you provide to fulfill your
    reservations, respond to inquiries, and provide you with the requested
    services.
  </p>
  <p>
    Improving Services: We may use aggregated and anonymized data for analytical
    purposes to improve our services, enhance the user experience, and optimize
    our website performance.
  </p>
  <p>
    Marketing Communications: With your consent, we may send you promotional
    emails or newsletters about Banana Palace restaurant, special offers, and
    upcoming events. You have the option to opt-out of receiving marketing
    communications at any time by following the instructions provided in the
    emails or contacting us directly.
  </p>

  <h2>Data Security</h2>
  <p>
    We implement appropriate technical and organizational measures to safeguard
    your personal information against unauthorized access, disclosure,
    alteration, or destruction. We regularly review our security practices to
    ensure compliance with industry standards and best practices.
  </p>

  <h2>Disclosure of Information</h2>
  <p>
    We do not sell, rent, or disclose your personal information to third parties
    without your consent, except as required by law or as necessary to fulfill
    the purposes outlined in this Privacy Policy. We may share your information
    with trusted service providers who assist us in operating our business, such
    as payment processors or marketing partners.
  </p>

  <h2>GDPR Compliance</h2>
  <p>
    Banana Palace restaurant is committed to complying with the General Data
    Protection Regulation (GDPR), which sets forth data protection and privacy
    rights for individuals in the European Union (EU). If you are located in the
    EU, you have certain rights under the GDPR, including the right to access,
    rectify, or erase your personal data, as well as the right to restrict or
    object to its processing. To exercise your rights or inquire about our data
    practices, please contact us using the information provided below.
  </p>

  <h2>Changes to Privacy Policy</h2>
  <p>
    Banana Palace restaurant reserves the right to modify or update this Privacy
    Policy at any time without prior notice. We encourage you to review this
    Privacy Policy periodically for any changes. By continuing to use our
    services after the posting of changes constitutes your acceptance of such
    changes.
  </p>

  <hr />
  <h2>Contact Us</h2>
  <p>
    If you have any questions, concerns, or requests regarding this Privacy
    Policy or our data practices, please contact us at info@bananapalace.com or
    +22 (6)262 725 232.
  </p>
</article>

<!-- prettier-ignore -->
{% endblock %}

{% block page-specific-js %}
<!-- <script src="{% static './js/.js' %}"></script> -->
{% endblock %}

<!-- If anything extra is needed for specific page in html body -->
{% block extra_body %}{% endblock extra_body %}
